<template>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h1>Nimix</h1>
            <hr/>
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="Gender">
                  <button type="button" v-on:click="setGender(2)" class="btn btn-secondary" :class="{ active: gender !== 1 }">Nainen</button>
                  <button type="button" v-on:click="setGender(1)" class="btn btn-secondary" :class="{ active: gender === 1 }">Mies</button>
                </div>
              </div>
              <div class="col-md-6">
                Toinen nimi
                <input type="checkbox" :checked="middleNameChecked" @change="setMiddleNameChecked"/>
              </div>
            </div>
            <hr/>
            <slider title="Etunimen harvinaisuus" :initial-value="50" type="first"></slider>
            <hr/>
            <slider title="Toisen nimen harvinaisuus" :initial-value="50" type="middle" :disabled="!middleNameChecked"></slider>
            <hr/>
            <slider title="Sukunimen harvinaisuus" :initial-value="50" type="last"></slider>
            <button class="btn btn-primary" v-on:click="getRandomNames">Hae nimiä</button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Nimi</label>
            <div class="col-10">
              <input class="form-control" type="text" v-on:change="setName" placeholder="Francesco Juhonpoika Virtanen">
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" v-on:click="getNameRating">Laske nimen harvinaisuus</button>
      <br/>
      <br/>
      <div class="row">
          <div v-if="error && error.length > 0" class="col-md-12">
            {{error}}
          </div>
          <div v-else class="col-md-12">
            <h2>Tulos</h2>
            <ul v-if="resultNames && resultNames.length > 0" class="list-group">
              <li class="list-group-item" v-for="item in resultNames">
                {{ item }}
              </li>
            </ul>
            <div v-else-if="resultRating">{{Math.round(resultRating * 100)}}%</div>
        </div>
      </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

import slider from '@/components/Slider.vue'

export default {
  name: 'nimix',
  components: {
    slider
  },
  computed: {
    ...mapState(['gender', 'middleNameChecked', 'resultNames', 'resultRating', 'error'])
  },
  methods: {
    ...mapMutations(['setGender', 'setName', 'setMiddleNameChecked']),
    ...mapActions(['getRandomNames', 'getNameRating'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
