<template>
  <div class="row">
      <div class="col-md-4">{{title}}</div>
      <div class="col-md-8">
          <vue-slider :disabled="disabled" ref="slider" :min="1" v-model="value" @callback="update"></vue-slider>
      </div>
  </div>
</template>

<script>
import vueSlider from 'vue-slider-component/src/vue2-slider.vue'

import { mapMutations } from 'vuex'

export default {
  name: 'slider',
  props: ['title', 'type', 'initialValue', 'disabled'],
  data () {
    return { value: this.initialValue }
  },
  components: {
    vueSlider
  },
  methods: {
    update (value) {
      this.setSegments({
        [this.type]: value
      })
    },
    ...mapMutations(['setSegments'])
  }
}
</script>
